<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.pasar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pasar_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pasar_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentSearch"></activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navdraw"
            android:label="Navdraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditorActivity"
            android:theme="@style/EditorTheme" />
    </application>

</manifest>